.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.678);
}
.header__tittle {
    color: rgb(99, 99, 99);
    font-weight: 400;
}